@import url('https://fonts.googleapis.com/css?family=EB+Garamond');

@font-face {
  font-family: Game_of_Thrones;
  src: url(fonts/Game_of_Thrones.ttf);
}


html {
  /*sans scroll*/
  overflow: hidden;
  height: 100%;
  font-size: 1vw;
}

body {
  height: 100%;
}

* {
  /*box-shadow: 1px 1px 3px #292929;*/ /*debug*/
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  /*align-items: baseline;*/
  /*justify-content: center;*/


  height: 100%;
  min-width: 100%;

}
.houses-slider {
  width: 100%;
  margin-left: 5vw;
}

#houses-slider img {
  width: 50vw;
}

.great-house-logo-panel {
  flex: 1;
  /*align-self: center;*/
  background: url("img/darknoise.png") repeat round 100%;
  /*background: url("img/") no-repeat 50% 50%;*/
  background-size: cover;
  width: 50vw;
  height: 100vh;
    display: flex;
    align-items: center;

}

.nav-panel {
  flex: 1;
  background: url("img/darknoise.png") repeat round 100%;
  background-size: cover;
  width: 50vw;
  height: 100vh;
  color: #d3bb89;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.block-element {
  display: block;
}

.nav-panel__head-title {
  font-family: Game_of_Thrones, Arial, sans-serif;
  font-size: 2rem;
  margin-bottom: 3rem;
  text-align: center;
}

.nav-panel__form {
  width: 25vw;
  margin: 0 auto;
}

.input__label {
  font-size: 1.3rem;
  font-family: "EB Garamond", serif;
}

.nav-panel__input {
  color: #fef8eb;
  background-color: transparent;
  width: 25vw;
  height: 3rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  border: none;
  outline: none; /* delete some magic border around input fields in focus */
  border-bottom: 0.2rem solid #d3bb89;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 0;
  min-height: 10%;
}

.input--invalid {
  border-bottom: 0.2rem solid #7b0828;
}

::selection{
  background: #7b0828;
}

/* Change Autocomplete styles in Chrome from https://css-tricks.com/snippets/css/change-autocomplete-styles-webkit-browsers/*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #d3ccc1;
  -webkit-box-shadow: transparent;
  transition: background-color 5000s ease-in-out 0s;
}

.nav-panel__small {
  font-size: 0.7em;
  color: #fef8eb;
  font-family: "Open Sans", sans-serif;
}

/*start checkbox styling*/
.nav-panel__checkbox {
  display: none;
}

.nav-panel__label-checkbox {
  position: relative;
  padding-left: 2em;
  cursor: pointer;
}

.nav-panel__label-checkbox:after {
  content: '';
  display: block;
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 10%;
  color: #202020;
  outline: none;
  background-color: #d3bb89;
  position: absolute;
  top: 0;
  left: 0;
}

.nav-panel__checkbox:checked + .nav-panel__label-checkbox:after {
  text-align: center;
  font-size: 1.2em;
  content: '\2714';
}
/*end checkbox styling*/

.nav-panel__submit-button {
  width: 25vw;
  height: 3em;
  color: #fef8eb;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  background: #c19a49;
  margin-top: 3rem;
  cursor: pointer;
  border: none;
}

.form-2__join-message {
  border-left: 0.1rem solid #c19a49;
  padding-left: 2rem;
  color: #fef8eb;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  margin-bottom: 2rem;
  
}
.nav-panel__select-house {
  width: 25vw;
  height: 3rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  outline: none !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered,
.select2-results__option{
  /*background-color: #202020 !important;*/
  background: url("./img/darknoise.png") no-repeat 50% 50% !important;
  color: #fef8eb !important;
  font-family: "Open Sans", sans-serif !important;
  font-size: 1rem !important;
}

.select2-container--default /*.select2-results__option--highlighted[aria-selected]*/ {
  background-color: #202020 !important;
  color: #fef8eb !important;
  outline: none !important;
  border-bottom: 0.2rem solid #d3bb89 !important;
}

.select2-results__option--highlighted[aria-selected], .select2-search--dropdown/*,*/
/*.select2-search*/ {
  background: #c19a49 !important;
  color: black !important;
}

.select2-container--default .select2-selection--single {
  border: none !important;
  outline: none !important;
}



.nav-panel__select-house-option {
  background-color: #202020;
  color: #fef8eb;
  outline: none !important;

}

#user-wishes-label {
  margin-top: 3vh;
}

#great-house-label {
  margin-bottom: 1.5vh;
}

.nav-panel__wishes {
  width: 25vw;
  height: 3rem;
  resize: none;
  cursor: pointer;
}

input:focus::placeholder {
  font-size: 0.7em;
  transform: translateY(-1.8em);

}

.pin {
  position: absolute;
  font-size: 0.7em;
  color: #fef8eb;
  font-family: "Open Sans", sans-serif;
}

.hidden {
  display: none ;
}



